html {
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #141414;
}

main {
	margin-inline: 20em;
}

footer {
	margin: auto;
}

.fontSmall {
	font-size: small;
}

.fontXXSmall {
	font-size: xx-small;
}

.widthLarge {
	width: 150%;
}

.avatar {
	display: block;
	max-height: 100px;
}

.imgAvatar {
	width: 100%;
}
